:root {
  --primary-800: #0066cb;
  --primary-700: #0073e6;
  --primary-600: #0d7eed;
  --primary-500: #1a8eff;
  --primary-400: #4ea7ff;
  --primary-300: #8cc6ff;
  --primary-200: #e3f1ff;
  --primary-100: #f3f9ff;

  --theme-800: #1e2936;
  --theme-700: #2d3c4d;
  --theme-600: #536273;
  --theme-500: #798899;
  --theme-400: #a0afc0;
  --theme-300: #bac8d7;
  --theme-200: #c6d5e6;
  --theme-100: #dae2eb;

  --info-800: #0d9967;
  --info-700: #00b67a;
  --info-600: #11c484;
  --info-500: #13da93;
  --info-400: #5ae5b3;
  --info-300: #89edc9;
  --info-200: #ddf7ee;
  --info-100: #eefcf7;

  --warning-800: #b67b01;
  --warning-700: #d9a304;
  --warning-600: #f8bc0d;
  --warning-500: #ffc92a;
  --warning-400: #ffda6e;
  --warning-300: #ffedb8;
  --warning-200: #fff4d5;
  --warning-100: #fff9ee;

  --danger-800: #a23535;
  --danger-700: #ba3c3c;
  --danger-600: #d14444;
  --danger-500: #e84b4b;
  --danger-400: #ed6f6f;
  --danger-300: #f19393;
  --danger-200: #f8c9c9;
  --danger-100: #fdeded;

  --neutral-200: #f3f6f9;
  --neutral-100: #f9fafc;
  --neutral-000: #ffffff;
}

$primary-800: var(--primary-800) !default;
$primary-700: var(--primary-700) !default;
$primary-600: var(--primary-600) !default;
$primary-500: var(--primary-500) !default;
$primary-400: var(--primary-400) !default;
$primary-300: var(--primary-300) !default;
$primary-200: var(--primary-200) !default;
$primary-100: var(--primary-100) !default;

$theme-800: var(--theme-800) !default;
$theme-700: var(--theme-700) !default;
$theme-600: var(--theme-600) !default;
$theme-500: var(--theme-500) !default;
$theme-400: var(--theme-400) !default;
$theme-300: var(--theme-300) !default;
$theme-200: var(--theme-200) !default;
$theme-100: var(--theme-100) !default;

$info-800: var(--info-800) !default;
$info-700: var(--info-700) !default;
$info-600: var(--info-600) !default;
$info-500: var(--info-500) !default;
$info-400: var(--info-400) !default;
$info-300: var(--info-300) !default;
$info-200: var(--info-200) !default;
$info-100: var(--info-100) !default;

$warning-800: var(--warning-800) !default;
$warning-700: var(--warning-700) !default;
$warning-600: var(--warning-600) !default;
$warning-500: var(--warning-500) !default;
$warning-400: var(--warning-400) !default;
$warning-300: var(--warning-300) !default;
$warning-200: var(--warning-200) !default;
$warning-100: var(--warning-100) !default;

$danger-800: var(--danger-800) !default;
$danger-700: var(--danger-700) !default;
$danger-600: var(--danger-600) !default;
$danger-500: var(--danger-500) !default;
$danger-400: var(--danger-400) !default;
$danger-300: var(--danger-300) !default;
$danger-200: var(--danger-200) !default;
$danger-100: var(--danger-100) !default;

$neutral-200: var(--neutral-200) !default;
$neutral-100: var(--neutral-100) !default;
$neutral-000: var(--neutral-000) !default;
