@mixin button($variant: 'primary') {
  $backgrounds: (
    primary: var(--color-primary-500),
    secondary: var(--color-neutral-000),
    tertiary: var(--color-neutral-000),
    subtle: var(--color-neutral-000),
    danger: var(--color-danger-500)
  );

  $backgrounds-hover: (
    primary: var(--color-primary-600),
    secondary: var(--color-neutral-100),
    tertiary: var(--color-neutral-100),
    subtle: var(--color-neutral-100),
    danger: var(--color-danger-600)
  );

  $backgrounds-active: (
    primary: var(--color-primary-700),
    secondary: var(--color-neutral-200),
    tertiary: var(--color-neutral-200),
    subtle: var(--color-neutral-200),
    danger: var(--color-danger-700)
  );

  $backgrounds-disabled: (
    primary: var(--color-primary-300),
    secondary: var(--color-neutral-200),
    tertiary: var(--color-neutral-200),
    subtle: var(--color-neutral-200),
    danger: var(--color-neutral-200)
  );

  $colors: (
    primary: var(--color-neutral-000),
    secondary: var(--color-primary-500),
    tertiary: var(--color-theme-600),
    subtle: var(--color-theme-600),
    danger: var(--color-neutral-200)
  );

  $colors-hover: (
    primary: var(--color-neutral-000),
    secondary: var(--color-primary-600),
    tertiary: var(--color-theme-600),
    subtle: var(--color-theme-600),
    danger: var(--color-neutral-000)
  );

  $colors-active: (
    primary: var(--color-neutral-000),
    secondary: var(--color-primary-700),
    tertiary: var(--color-theme-700),
    subtle: var(--color-theme-700),
    danger: var(--color-neutral-000)
  );

  $colors-disabled: (
    primary: var(--color-neutral-000),
    secondary: var(--color-theme-200),
    tertiary: var(--color-theme-200),
    subtle: var(--color-theme-200),
    danger: var(--color-theme-100)
  );

  $borders: (
    primary: none,
    secondary: none,
    tertiary: solid 1px var(--color-theme-300),
    subtle: none,
    danger: none
  );

  $borders-hover: (
    primary: none,
    secondary: none,
    tertiary: solid 1px var(--color-theme-300),
    subtle: none,
    danger: none
  );

  $borders-active: (
    primary: none,
    secondary: none,
    tertiary: solid 1px var(--color-theme-400),
    subtle: none,
    danger: none
  );

  $borders-disabled: (
    primary: none,
    secondary: none,
    tertiary: solid 1px var(--color-theme-100),
    subtle: none,
    danger: solid 1px var(--color-theme-100),
  );

  color: #{map-get($colors, $variant)};
  background-color: #{map-get($backgrounds, $variant)};

  font-family: $font-family-main;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-s;

  border-radius: 3px;
  border: #{map-get($borders, $variant)};

  height: $height-button-m;
  padding: 0 $spacing-4x;

  line-height: $line-height-xs;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #{map-get($colors-hover, $variant)};
    background-color: #{map-get($backgrounds-hover, $variant)};
    border: #{map-get($borders-hover, $variant)};
  }

  &:active {
    color: #{map-get($colors-active, $variant)};
    background-color: #{map-get($backgrounds-active, $variant)};
    border: #{map-get($borders-active, $variant)};
  }

  &:disabled {
    color: #{map-get($colors-disabled, $variant)};
    background-color: #{map-get($backgrounds-disabled, $variant)};
    border: #{map-get($borders-disabled, $variant)};
  }
}

@mixin button-size($size: "medium") {
  $font-sizes: (
    x-small: $font-size-xs,
    small: $font-size-xs,
    medium: $font-size-s,
    large: $font-size-m,
    x-large: $font-size-button-xl
  );

  $heights: (
    x-small: $height-button-xs,
    small: $height-button-s,
    medium: $height-button-m,
    large: $height-button-l,
    x-large: $height-button-xl,
  );

  $paddings: (
    x-small: 0 $spacing-2x,
    small: 0 $spacing-3x,
    medium: 0 $spacing-4x,
    large: 0 $spacing-6x,
    x-large: 0 $spacing-8x,
  );

  font-size: #{map-get($font-sizes, $size)};
  height: #{map-get($heights, $size)};
  padding: #{map-get($paddings, $size)};
}
